@charset "UTF-8";

/* 回答はここに書いてね */
.wrap1{
  overflow: auto;
}
.article1_1{
  box-sizing: border-box;
  float: left;
  font-size: 16px;
  width: 225px;
}
.article1_2{
  box-sizing: border-box;
  float: left;
  font-size: 16px;
  margin-left: 50px;
  width: 225px;
}

.wrap2{
  display: table;
}
.section2{
  display: table-cell;
  vertical-align: middle;
}
.article2-1{
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
}
.article2-2{
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
  margin-left: 50px;
}

.wrap3{
  font-size: 0px;
  text-align: center;
}
.section3-1{
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  width: 225px;
  text-align: left;
  vertical-align: middle;
}
.section3-2{
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  width: 225px;
  margin-left: 50px;
  text-align: left;
  vertical-align: middle;
}

.wrap4{
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.section4-1{
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
}
.section4-2{
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
}
.wrap5{
  font-size: 0px;
}
.section5-1{
  display: inline-block;
  vertical-align: top;
}
.section5-2{
  display: inline-block;
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
}
.article5-1{
  box-sizing: border-box;
  font-size: 16px;
  width: 300px;
}
.article5-2{
  box-sizing: border-box;
  font-size: 16px;
}
/* 回答はここに書いてね */