@charset "UTF-8";

/* 回答はここに書いてね */
.float-wrap{
  overflow: auto;
}
.float-article:first-child{
  box-sizing: border-box;
  float: left;
  font-size: 16px;
  width: 225px;
}
.float-article:last-child{
  box-sizing: border-box;
  float: left;
  font-size: 16px;
  margin-left: 50px;
  width: 225px;
}

.table-wrap{
  display: table;
}
.table-section{
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}
.table-article:first-child{
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
}
.table-article:last-child{
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
}

.inline-block-wrap{
  font-size: 0px;
  text-align: center;
}
.inline-block-section:first-child{
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  width: 225px;
  text-align: left;
  vertical-align: middle;
}
.inline-block-section:last-child{
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  width: 225px;
  margin-left: 50px;
  text-align: left;
  vertical-align: middle;
}

.flex-wrap{
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.flex-section:first-child{
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
}
.flex-section:last-child{
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
}
.inline-margin-wrap{
  font-size: 0px;
}
.left-section{
  display: inline-block;
  vertical-align: top;
}
.right-section{
  display: inline-block;
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
}
.left-article{
  box-sizing: border-box;
  font-size: 16px;
  width: 300px;
}
.right-article{
  box-sizing: border-box;
  font-size: 16px;
}
/* 回答はここに書いてね */