@charset "UTF-8";

/* 回答はここに書いてね */
.list{
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.list th{
  border: solid 1px #dedede;
  background: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
}
.list td{
  border: solid 1px #dedede;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  vertical-align: middle;
}
.list tr:nth-child(odd){
  background-color: #ecf1f2;
}
.list tr:last-child{
 border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
