@charset "UTF-8";

/* 回答はここに書いてね */
table{
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
th{
  border: solid 1px #dedede;
  background: #2244aa;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;0
}
td{
  border: solid 1px #dedede;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  vertical-align: middle;
}
tr:nth-child(odd) td {
  background-color: #ecf1f2;
}
tr:last-child{
 border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
