@charset "UTF-8";

/* 回答はここに書いてね */
.text-align-box{
  text-align: center;
}
.text-align-contents{
  display: inline-block;
  background-color: #e6f2ff;
  padding: 10px;
  width: 70px;
}
.margin-box{
  background-color: #e6f2ff;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 90px;
}
.q6--around.table-box{
  display: table;
}
.table-box{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.table-contents{
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}
.q6--around.flex-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-contents{
  background-color: #fff;
  padding: 10px;
}

.q6__box.is-stable{
  position: relative;
}
.q6__box__inner.solid-box{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.q6__box.is-flexible{
  position:relative;
}
.q6__box__inner.liquid-box{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
