@charset "UTF-8";

/* 回答はここに書いてね */
.box1{
  text-align: center;
}
.contents1{
  display: inline-block;
  background-color: #e6f2ff;
  padding: 10px;
  width: 70px;
}
.box2{
  background-color: #e6f2ff;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 90px;
}
.q6--around.box3{
  display: table;
}
.box3{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.contents2{
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}
.q6--around.box4{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents3{
  background-color: #fff;
  padding: 10px;
}
.q6__box.is-stable{
  position: relative;
}
.q6__box__inner.box4{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.q6__box.is-flexible{
  position:relative;
}
.q6__box__inner.box5{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
